/**
 *  Define scss variables here.
 *
 *  Available options for Bootstrap:
 *  http://getbootstrap.com/customize/
 *
 */

// Bootstrap Variables
$brand-primary: darken(#428BCA, 6.5%);
$brand-secondary: #E25139;
$brand-success: #5CB85C;
$brand-warning: #F0AD4E;
$brand-danger: #D9534F;
$brand-info: #5BC0DE;

$text-color: #333333;

$font-size-base: 14px;
$font-family-sans-serif: "Helvetica Neue", Helvetica, sans-serif;
